VITE_SOUNDCLOUD_CLIENT_ID=
SOUNDCLOUD_CLIENT_SECRET=
VITE_SOUNDCLOUD_API_BASE=/api/soundcloud
VITE_SOUNDCLOUD_PROXY_TARGET=https://api-v2.soundcloud.com
VITE_SOUNDCLOUD_HTTP_PROXIES=45.141.185.15:5882,163.5.189.210:3888
VITE_SOUNDLAB_API_BASE=
